.Navbar {
  display: flex;
  justify-content: space-between;
  background-color: #036;
  color: white;
  padding: 0.8rem;
  height: 50px;
}

.logo {
  padding: 0px;
}
.navlinks {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}
